#page-landing {
    background: var(--color-primary);
}

#page-landing #container {
    color: var(--color-text-in-primary)
}

.logo-container {
    text-align: center;
    margin-bottom: 3.2rem;
}

.logo-container h2 {
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
}

.logo-container img {
    height: 10rem;
}

.hero-image {
    width: 100%;
}

.buttons-container {
    display: flex;
    justify-content: center; /* só funciona com o display flex */
    margin: 3.2rem 0;
}

.buttons-container a {
    width: 30rem;
    height: 10.4rem;

    /* background-color: var(-); */
    border-radius: 0.8rem;
    margin-right: 1.6rem;

    font: 700 2.4rem Archivo;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    transition: background 0.2s;

    color: var(--color-button-text);
}

.buttons-container a img {
    width: 4rem;
    margin-right: 2.4rem;
}

.buttons-container a.study {
    background-color: var(--color-primary-lighter);
}

.buttons-container a.study:hover {
    background-color: var(--color-primary-light);
}

.buttons-container a.give-classes {
    background-color: var(--color-secondary);
    margin-right: 0;
}

.buttons-container a.give-classes:hover {
    background-color: var(--color-secondary-dark);
}

.total-connections {
    font-size: 1.8rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.total-connections img {
    margin-left: 0.8rem;
}

@media (min-width: 1100px) {
    #page-landing #container {
        max-width: 1100px;
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 350px 1fr;
        grid-template-areas: 
        "proffy image image"
        "button button texting";
        column-gap: 87px;
        row-gap: 86px;
    }
    .logo-container {
        grid-area: proffy;
        text-align: initial; /* a configuração que irá sobrescrever a anterior tem que usar a mesma propriedade, ou seja, no primeiro logo container foi usado o text-align para centralizar, e agora será usado o text-align para alinhar lateralizado */
        align-self: center; /* alinhou todo o conteúdo dele mesmo ao centro do "bloco"/grid, respeitando o limite máximo do bloco em que ele está */
        margin: 0;
    }

    .logo-container img {
        height: 127px;
    }

    .hero-image {
        grid-area: image;
        height: 350px;
    }

    .buttons-container {
        grid-area: button;
        justify-content: flex-start; /* a configuração que irá sobrescrever a anterior tem que usar a mesma propriedade, ou seja, no primeiro buttons container foi usado o JUSTIFY-CONTENT (do display-flex) para centralizar, e agora será usado o JUSTIFY-CONTENT para alinhar lateralizado */
        margin: 0;
    }

    .total-connections {
        grid-area: texting;
        justify-content: end; /* a configuração que irá sobrescrever a anterior tem que usar a mesma propriedade, ou seja, no primeiro total-connections foi usado o JUSTIFY-CONTENT (do display-flex) para centralizar, e agora será usado o JUSTIFY-CONTENT para alinhar lateralizado */
        font-size: 1.2rem;
    }
}